body {
  background-color: #e6ecf0;
}

.navbar{
  margin-bottom: 1rem;
}
.navbar a{
  font-weight: bold;
}
.navbar li:hover{
  color: white;
  text-decoration: underline;
  cursor: pointer;
}
.navbar-brand > img {
  display: inline-block;
  width: 20px;
  border-radius: 2px;
  margin-bottom: 2px;
  margin-right: 5px;
}

ul.nav.navbar-nav li{
  margin: 0 0.5rem;
}

.onboarding > navbar {
  background-image: url("./images/nav-bg.png");
  background-size: 100% 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#messages .list-group-item {
  display: flex;
  align-items: flex-start;
  padding: 7px 20px 12px;
}

#messages:not(.no-hover) .list-group-item:hover {
  background-color: #e6ecf0;
}

.timeline-image {
  border-radius: 50px;
  height: 48px;
  width: 48px;
  margin: 2px 30px 10px 10px;
}

.btn:hover {
  cursor: pointer;
}

a.btn.btn-danger,
a.btn.btn-danger:hover {
  color: white;
}

.navbar-header {
  margin: 0 auto;
}